.x-axis-label {
    font-size: 22px;
}

.x>.tick>text {
    font-size: 16px;
}

body,
html {
    width: 100%;
    height: auto;
}

/*--------------------------------------Navbar---------------*/

.navbar {
    background-color: #2C3E50;
}

.navbar-brand {
    color: #00ffff;
}

/*------------------------------------Image*/

.bg-clubs-logo {
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wraper img {
    width: 100%
}

.text-wraper {
    width: 100%;
    position: relative;
    margin-top: 0%;
}

.text-wraper h1 {
    text-align: center;
    color: #23384d;
    font-size: 4vw;
    font-family: "modak", cursive;
    background-color: #00ffff;
}

/*------------------------------------Sections/Header/Footer info*/

.section {
    border-bottom: 1px solid #ffff00;
    padding: 20px 0;
    margin-left: 4px;
    margin-right: 4px;
}

.section-paragraph {
    line-height: 2.0;

}

.footer {
    background-color: #2C3E50;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.brand {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    color: #00ffff;
}

.navbar-section-paragraph {
    color: #00ffff;
    float: right;

    font-weight: bolder;
    margin-top: 20px;
    /*font-size: larger;
    */
}

.footer-section-paragraph {
    color: #00ffff;
    float: right;
    font-weight: bolder;
    margin-top: 20px;
    font-size: larger;
}


#goals_per_season {
    height: 100%;
    width: 100%
}

th {
    background: lightblue;
    text-align: center;
}

/*------------------------------------Refresh Buttons*/

#refresh-button {
    float: inherit;
    margin-top: 7px;
    margin-left: 15px;

}

#footer-refresh-button {
    display: inline-block;
    margin: 5px 0px 5px 5px;
}

#central-refresh-button {
    text-align: center;
    display: block;
    width: 100%;
}

/*------------------------------Charts--------------------*/

#goals_per_season {
    height: 100%;
    width: 100%
}

#bar-charts {
    height: 100%;
    width: 100%
}
